<h1>Todays tasks are:</h1>
  <% @tasks.each do |task| %>
  <li style="list-style-type: none;" class="mx-3 px-3">
  <% if task.completed == true %>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
    <% else %>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
  <% end %>
  <%= link_to task.title, task_path(task) %></li>
  <% end %>
</ul>

<div class="border-top p-3 m-3">
  <%= link_to '+ New task', new_task_path %>
</div>
